body{
    font-family: 'Poppins', sans-serif;  
}
*{
    margin: 0;
    padding: 0;
}
header{
    height:auto;
    width: 960px;
    margin: 0 auto;
}
.text{
    padding: 20px;
    margin-right: 10px;
    font-size: 30px;
    text-transform: uppercase;

}

.navbar{
    height: auto;
    width: 960px;
    background: #000;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 20px 35px;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: purple;
    background-color:peru;
}

.navbar ul li ul{
    position:absolute;
    background-color: #000;
    left: -9999px;
}

/* Drop-down menu system... */


.navbar ul li:hover ul{     
    left:0px;
}
.navbar ul li ul li{
    width: 200px;
    border-bottom: 1px solid #fff;
}
.banner-cover{
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-text{
    padding: 100px;
    text-align: center;
}
.banner-text button{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    border: 0;
    background:#000;
    color:#fff;
    margin: 0 8px;

}
.about-logo img{
    width: 320px;
    height: auto;
    margin: 0 10px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 10px 0px #000;
}
.about-text{
    width: 520px;
    height: auto;
    padding: 0 20px;
}

.about-text h2{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}
.about-text p{
    font: size 16px;
    color:gray;
    line-height: 22px;
   
}
.row{
    overflow: auto;
    
}
.col{
    float: left;
}
.about-section{
    background: #185c61;
    padding: 40px 0px;
    margin-top: 30px;
}
.title{
    width: 180px;
    height: auto;
    margin: 0 auto;

}
.title h2{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
    text-align: center;
}

.service{
    width: 280px;
    height: auto;
    border: 1px solid #fff;
    text-align: center;
    display: inline-block;
    margin: 10px;

}

.service h3{
font-size: 20px;
font-weight: bold;
margin-bottom: 10px;
text-transform: uppercase;

}

.service p{
font-size: 15px;
color: aliceblue;
line-height: 22px;
padding: 0px 15px;

}

.service-section{
    background: #3f3f3f;;
    margin-top: 30px;
    color:#fff;
    transition: .5s;
    padding: 40px 0px;
}
.serv-icon i{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.serv-icon i:hover{
    color:aqua;
    transform:scale(.8)
}

.Contact{
    background:#fff;
    padding: 15px 15px 15px 80px;
    box-shadow: 0px 0px 10px #ccc;
    width: 180px;
    position:relative;
    display: inline-block;
    margin:0 8px;
}
.cont-icon i{
    position:absolute;
    width:50px;
    height: 50px;
    float: left;
    top: 8px;
    left:15px;
    background:#222;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    transition: .5s;
}
.cont-icon i:hover{
    color: #185c61;
    transform:scale(.8);
}
.cont-text{
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height:22px;
}
.Contact-section{
    background:#185c61;;;
    margin-top:30px;
    padding: 40px 0px;
}
.contact-form{
    width: 620px;
    height:auto;
    margin: 0 auto;
    margin-top: 30px;
}
.inputTag input{
   font: size 20px;
   text-transform: capitalize;
   padding: 10px 10px;
   width: 80%;
   border: 0;
   margin: 8px 0px;
}
.inputTag textarea{
    width: 518px;
    height: auto;
    border: 0;
}
.submit{
    width: 84%;
    padding: 10px;
    color: #222;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 4px;
    border: 0;
}
footer{
    width: 960px;
    height: auto;
    margin: 0 auto;
    background: #000;
    color: #fff;
    padding: 30px 0px;
    margin-top: 20px;
}
.footer-icon{
    float: right;
}
.footer-icon i{
    font-size: 30px;
    padding: 0px 10px;
    transition: .5s;

}
.footer-icon i:hover{
    color:cornflowerblue;
    transform:scale(.8);
}
.footer-text{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin:0px 20px;
}
.project-section{
    color:#000;
    
}